.pag-login {
    background-color: #ecf0f1;
    text-align: center;
    border-radius: 20px;
}

.pag-login h1 {
    margin-bottom: 40px;
}

.pag-login .input-padrao {
    width: 50%;
    display: inline-block;
}

.box-login {
    display: inline-block;
    background-color: white;
    box-shadow:  3px 3px 5px 2px #ccc;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}

.pag-login .btn-green {
    display: block;
    float: none;
    margin: auto;
}